@using System.Linq
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Авторизация";
}
<div class="login">
    <div class="login-box">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h2>Авторизация</h2>
            <div class="inputField">
                <div class="inputBox">
                    <input asp-for="Email" type="text" required="required" />
                    <span>Email</span>
                    <i></i>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="inputField">
                <div class="inputBox">
                    <input asp-for="Password" type="password" required="required" />
                    <span>Пароль</span>
                    <i></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="links">
                <a href="#">Забыл пароль</a>
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
            </div>
            <input asp-action="Login" asp-controller="Account" type="submit" value="Войти" />
        </form>
    </div>
</div>