@model DutyBoard_Models.Account.Login
<div class="login">
    <div class="login-box">
        <form method="post" >
            <h2>Авторизация</h2>
            <div class="inputBox">
                <input asp-for="LoginName" type="text" required="required" />
                <span>Логин</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input asp-for="Password" type="password" required="required" />
                <span>Пароль</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Забыл пароль</a>
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
            </div>
            <input asp-action="Login" asp-controller="Account" type="submit" value="Войти" />
        </form>
    </div>
</div>