@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="register">
    <div class="register-box">
        <form method="post">
            <h2>Регистрация</h2>
            <div class="inputField">
                <div class="inputBox">
                    <input asp-for="Email" type="text" required="required" />
                    <span>Email</span>
                    <i></i>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="inputField">
                <div class="inputBox">
                    <input asp-for="Password" type="password" required="required" />
                    <span>Пароль</span>
                    <i></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="inputField">
                <div class="inputBox">
                    <input asp-for="ConfirmPassword" type="password" required="required" />
                    <span>Повторите пароль</span>
                    <i></i>
                    
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="footer">
                <a asp-action="Login" asp-controller="Account">Назад</a>
                <input asp-action="Register" asp-controller="Account" type="submit" value="Регистрация"/>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
