@model DutyBoard_Models.Account.SiteUser
<div class="register">
    <div class="register-box">
        <form method="post">
            <h2>Регистрация</h2>
            <div class="inputBox">
                <input asp-for="LoginName" type="text" required="required" />
                <span>Логин</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input asp-for="Password" type="password" required="required" />
                <span>Пароль</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input asp-for="ConfirmPassword" type="password" required="required" />
                <span>Повторите пароль</span>
                <i></i>
            </div>
            <div class="footer">
                <a asp-action="Login" asp-controller="Account">Назад</a>
                <input asp-action="Register" asp-controller="Account" type="submit" value="Регистрация"/>
            </div>
        </form>
    </div>
</div>