@model HolidayVM

<form method="post">
    <input asp-for="Holiday.HolidayId" hidden />
    <input asp-for="Employee" hidden />
    <div class="modal-content rounded-3 shadow p-3 bg-3 ">
        
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="Holiday.EmployeeId" class="col-form-label"></label>
            </div>
            <div class="col-sm-7">
                <select asp-for="Holiday.EmployeeId" asp-items="@Model.Employees.OrderBy(x => x.Text)" class="form-select">
                </select>
                <span asp-validation-for="Holiday.EmployeeId" class="text-danger"></span>
            </div>
        </div>



        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="Holiday.StartDt" class="col-form-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="Holiday.StartDt" class="form-control" type="text" id="editFromDate" aria-describedby="StartTime-error" aria-invalid="false" />
                <span asp-validation-for="Holiday.StartDt" class="text-danger"></span>
                <span asp-validation-for="Holiday" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="Holiday.FinishDt" class="col-form-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="Holiday.FinishDt" class="form-control " type="text" id="editToDate" aria-describedby="StartTime-error" aria-invalid="false" />
                <span asp-validation-for="Holiday.FinishDt" class="text-danger"></span>
            </div>
        </div>

        <div class="container text-center pt-3 ">
            <div class="row form-group">
                <div class="col text-end">
                    @if (Model.Holiday.HolidayId != 0)
                    {
                        <input asp-action="Edit" type="submit" class="btn btn-warning" value="Изменить" />
                    }
                    else
                    {
                        <input asp-action="Edit" type="submit" class="btn btn-primary" value="Создать" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />
<script src="~/lib/jquery/dist/jquery.inputmask.js"></script>
<script>
    getCalendarRange('#editFromDate', '#editToDate');
</script>