ul.accountNavigation {
    position: relative;
    display: flex;
    padding-left: 20px;
    gap: 30px;
}
ul.accountNavigation li {
        position: relative;
        outline-style: none;
        list-style: none;
    cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
}

ul.accountNavigation li a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--black2);
    }
ul.accountNavigation li a:hover {
    color: var(--blue);
}