ul.accountNavigation {
    position: relative;
    display: flex;
    padding-left: 20px;
    gap: 30px;
}
ul.accountNavigation li {
        position: relative;
        outline-style: none;
        list-style: none;
/*        width: 50px;
        height: 50px;*/
        /*background: var(--white);*/
        /*border-radius: 50px;*/
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        /*box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);*/
        /*transition: 0.5s;*/
    }

ul.accountNavigation li a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--black2);
    }
ul.accountNavigation li a:hover {
    color: var(--blue);
}