@model Employee
<form method="post">
    <input asp-for="EmployeeId" hidden />
    <div class="modal-content rounded-3 shadow p-3 bg-3 ">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="FullName" class="col-form-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="FullName" class="form-control" placeholder="Пётр Иванов" data-val="true" data-val-required="Введи имя!" />
                <span asp-validation-for="FullName" class="text-danger field-validation-valid"></span>
            </div>
        </div>
        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="LoginName" class="col-form-label"></label>
            </div>
            <div class="col-sm-7">
                <input asp-for="LoginName" class="form-control" placeholder="ivanov_pa" data-val="true" data-val-required="Введи логин!" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group py-1">
            <div class="col-sm-5 text-start">
                <label asp-for="Phone" class="col-form-label"></label>
            </div>
            <div class="col-sm-7 ">
                <input asp-for="Phone" class="form-control" placeholder="+7(999)999-99-99">
            </div>
        </div>

        <div class="container text-center pt-3 ">
            <div class="row form-group">
                <div class="col-sm-4 offset-8">
                    @if (Model.EmployeeId != 0)
                    {
                        <input asp-action="Edit" type="submit" class="btn btn-warning" value="Изменить" />
                    }
                    else
                    {
                        <input asp-action="Edit" type="submit" class="btn btn-primary" value="Создать" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />
<script src="~/lib/jquery/dist/jquery.inputmask.js"></script>
<script>
    $("#Phone").inputmask({
        mask: "+7(999)999-99-99"
    });
</script>
