@model ConfHomeVM

<form method="post" novalidate="novalidate">
    <input name="fromDate" hidden value="@Model.FromDate" />
    <input name="toDate" hidden value="@Model.ToDate" />
    <div class="modal-body py-2">
        <p class="mb-0" style="font-size:16px">Вы действительно хоте запустить расчет <br/>с <b>@Model.FromDate.ToString("dd.MM.yyyy")</b> по <b>@Model.ToDate.ToString("dd.MM.yyyy")</b> ?</p>
    </div>
    <div class="modal-footer border-top-0 pt-0">
        <input asp-action="Calc" asp-controller="Home" type="submit" class="btn btn-success " value="Запуск!" />
    </div>
</form>
