<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

</head>
<body>
    <div class="navigation">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                </a>
            </li>
            <li id="Workday">
                <a asp-controller="Workday" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-house-laptop"></i></span>
                    <span class="title">Дежурства</span>
                </a>
            </li>
            <li id="Holiday">
                <a asp-controller="Holiday" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-umbrella-beach"></i></span>
                    <span class="title">Отпуска</span>
                </a>
            </li>
            <li id="Employee">
                <a asp-controller="Employee" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-users" width="16"></i></span>
                    <span class="title">Сотрудники</span>
                </a>
            </li>
            <li id="Roster">
                <a asp-controller="Roster" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                    <span class="title">Параметры</span>
                </a>
            </li>
        </ul>
        <div class="toggle"></div>
    </div>

    <div class="main">
        @RenderBody()
    </div>

    <partial name="_Notifications" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/beb727a5bd.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Layout.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
