<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/css/pages/home.css" />
    <link rel="stylesheet" href="~/css/pages/login.css" />
    <link rel="stylesheet" href="~/css/pages/register.css" />
    <link rel="stylesheet" href="~/css/pages/account.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/calendar.css" />

</head>
<body>
    <div class="box">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navigation">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <span class="icon fa-rotate-by" style="display: inline-block; --fa-rotate-angle: -25deg;"><h4><i class="fa-solid fa-paw pt-2"></i></h4></span>
                        </a>
                    </li>
                    <li id="Home">
                        <a asp-controller="Home" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-house"></i></span>
                            <span class="title">Главная</span>
                        </a>
                    </li>
                    <li id="Workday">
                        <a asp-controller="Workday" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-house-laptop"></i></span>
                            <span class="title">Дежурства</span>
                        </a>
                    </li>
                    <li id="Holiday">
                        <a asp-controller="Holiday" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-umbrella-beach"></i></span>
                            <span class="title">Отпуска</span>
                        </a>
                    </li>
                    <li id="Employee">
                        <a asp-controller="Employee" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-users" width="16"></i></span>
                            <span class="title">Сотрудники</span>
                        </a>
                    </li>
                    <li id="Roster">
                        <a asp-controller="Roster" asp-action="Index">
                            <span class="icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                            <span class="title">Параметры</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
        <!-- main-->
        <div class="main">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="topbar">
                    
                    <!-- dates -->
                    <form method="post" novalidate="novalidate">
                        <div class="calcPanel">
                            <ul class="ulCalc">
                                <li style="--i:#fff; --j:#999;">
                                    <span class="icon"><i class="fa-regular fa-calendar text-primary"></i></span>
                                    <div class="title">
                                        <span>с</span>
                                        <input type="text" placeholder="Дата с" id="fromDate" name="fromDate"/>
                                        <span>по</span>
                                        <input type="text" placeholder="Дата по" id="toDate" name="toDate"/>
                                    </div>
                                </li>
                                <li style="--i:#FDD835; --j:#999;">
                                    <span class="icon"><i class="fa-solid fa-calculator"></i></span>
                                    <span class="title"><a href="#" type="submit" data-bs-toggle="modal" data-bs-target="#modal" onClick="Calc()">Расчет</a></span>
                                </li>
                                <li style="--i:#4CAF50; --j:#fff;">
                                    <span class="icon"><i class="fa-solid fa-file-excel"></i></span>
                                    <span class="title"><a asp-action="Export" asp-controller="Home" type="button">Экспорт</a></span>
                                </li>
                                <li style="--i:#add8e6; --j:#999;">
                                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <span class="title"><a asp-action="Index" asp-controller="Manage" type="button">Профиль</a></span>
                                </li>
                                <li style="--i:#a52a2a; --j:#fff;">
                                    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                                    <span class="title"><a asp-action="Logout" asp-controller="Account" type="button">Выйти</a></span>
                                </li>
                            </ul>
                            
                        </div>
                    </form>
@*                    

                    <div class="accPanel">
                        <partial name="_LoginPartial"/>
                    </div>*@
                </div>
            }
            <!-- contents -->
            <div class="contents">
                
                @RenderBody()
            </div>

        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div id="edit-content"></div>
            </div>
        </div>
    </div>
    <partial name="_Notifications" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/beb727a5bd.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script src="~/lib/jquery/dist/jquery.inputmask.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/Layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
