@model Roster

<form method="post" asp-action="Del">
    <div class="modal-content rounded-3 shadow">
        <input asp-for="RosterId" hidden />
        <div class="modal-body p-2 text-center">
            <h5 class="mb-1">Удалить дежурство?</h5>
            <p class="mb-0" style="font-size:16px"><b>@Model.DaysOfWeek.DayOfWeekName</b>, @Model.StartTime.ToString(@"hh\:mm") - @Model.DurationOfDuty часов.</p>
        </div>
        <div class="modal-footer flex-nowrap p-0">
            <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"><b>Да, удалить</b></button>
            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Не удалять</button>
        </div>
    </div>
</form>